[submodule "contrib/ms-sbvar/utilities_dw"]
	path = contrib/ms-sbvar/utilities_dw
	url = http://www.dynare.org/git/frbatlanta/utilities_dw.git
[submodule "contrib/ms-sbvar/switch_dw"]
	path = contrib/ms-sbvar/switch_dw
	url = http://www.dynare.org/git/frbatlanta/switch_dw.git
[submodule "contrib/ms-sbvar/TZcode"]
	path = contrib/ms-sbvar/TZcode
	url = http://www.dynare.org/git/frbatlanta/TZcode.git
[submodule "contrib/dmm"]
	path = contrib/dmm
	url = http://www.dynare.org/git/dmm.git
[submodule "matlab/utilities/tests"]
	path = matlab/utilities/tests
	url = https://github.com/DynareTeam/m-unit-tests.git
[submodule "matlab/particles"]
	path = matlab/particles
	url = https://github.com/DynareTeam/particles.git
[submodule "matlab/modules/dates"]
	path = matlab/modules/dates
	url = https://github.com/DynareTeam/dates.git
	branch = old-oop-style
[submodule "matlab/modules/dseries"]
	path = matlab/modules/dseries
	url = https://github.com/DynareTeam/dseries.git
	branch = old-oop-style
[submodule "matlab/modules/reporting"]
	path = matlab/modules/reporting
	url = https://github.com/DynareTeam/reporting.git